.top-body
{
    margin-top: 10%;
    text-align: center;
}

.box
{
    text-align: center;
    margin: 3%;
}

.but
{
    text-align: center;
    margin: 1%;
}
.bottom-part
{
    background-color: black;
    height: 40px;
}

.emoji
{
    background-color: #e2baf5;

}

.container
{
    margin:0;
}